h1 {
  color: tomato;
  text-align: center;
}

main {
  border: 2px solid magenta;
  width: 90%;
  margin: 0 auto;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

section {
  float: left;
  width: 47%;
  margin: 1%;
  border: 1px solid grey;
  text-align: center;
  padding: 10px 0;
}

button {
  background-color: tomato;
  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  min-width: 52%;
  font-size: 1.1em;
  font-weight: bolder;
}

